body {
  background-color: #222;
}

.button {
  z-index: 1;
  text-align: center;
  border-radius: var(--leva-radii-lg);
  box-shadow: var(--leva-shadows-level1);
  background-color: var(--leva-colors-elevation1);
  height: 39px;
  width: 39px;
  cursor: pointer;
  color: var(--leva-colors-folderTextColor);
}

.button-icon{
  padding: 11px;
}